<a href="https://colab.research.google.com/github/beatricexc/DS-Practice-5/blob/main/DS_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np #linear algebra
import pandas as pd # data processing, CSV files (e.g pd.read_csv)
import matplotlib.pyplot as plt 
import seaborn as sns # visualisation tool

In [2]:
data = pd.read_csv('/content/drive/MyDrive/pokemon.csv')
data.head() #returns first 5 rows

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [ ]:
data.tail()

       #            Name   Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
795  796         Diancie     Rock  Fairy  ...      150     50           6       True
796  797    Mega Diancie     Rock  Fairy  ...      110    110           6       True
797  798  Hoopa Confined  Psychic  Ghost  ...      130     70           6       True
798  799   Hoopa Unbound  Psychic   Dark  ...      130     80           6       True
799  800       Volcanion     Fire  Water  ...       90     70           6       True

[5 rows x 12 columns]

In [ ]:
# columns returns the names of the features
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
data.shape # returns the number of rows and columns in the table

(800, 12)

In [ ]:
# info gives data type like dataframe, number of sample or row, number of feature or column, feature types and memory usage
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

## Data Types

There are 5 basic data types: object(string),boolean, integer, float and categorical.
We can make conversion data types from str to categorical or from int to float
Why is category important:

- make dataframe smaller in memory
- can be utilized for anlaysis especially for sklearn(we will learn later)

In [3]:
data.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [4]:
# lets convert object(str) to categorical and int to float.
data['Type 1']= data['Type 1'].astype('category')
data['Speed'] = data['Speed'].astype('float')

In [5]:
# As you can see Type 1 is converted from object to categorical
# And Speed ,s converted from int to float
data.dtypes

#                int64
Name            object
Type 1        category
Type 2          object
HP               int64
Attack           int64
Defense          int64
Sp. Atk          int64
Sp. Def          int64
Speed          float64
Generation       int64
Legendary         bool
dtype: object

## MISSING DATA and TESTING WITH ASSERT
If we encounter with missing data, what we can do:

- leave as is
- drop them with dropna()
- fill missing value with fillna()
- fill missing values with test statistics like mean

Assert statement: check that you can turn on or turn off when you are done with your testing of the program

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    category
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    float64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), category(1), float64(1), int64(7), object(2)
memory usage: 65.0+ KB

In [11]:
# Checking Type 2
data["Type 2"].value_counts(dropna = False)
# 386 null values

NaN         386
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Water        14
Rock         14
Ice          14
Ghost        14
Fire         12
Electric      6
Normal        4
Bug           3
Name: Type 2, dtype: int64

In [12]:
# Dropping the nan values
data1 = data #using data to fill missing values so we assign it to the data1 variable
data1["Type 2"].dropna(inplace = True) # inplace = True means we do not assing it to new variable.

In [13]:
# Checking if it works
#  Lets check with assert statement
# Assert statement:
assert 1==1 # return nothing because it is true

In [14]:
# In order to run all code, we need to make this line comment
# assert 1==2 # return error because it is false

In [18]:
data["Type 2"].fillna('empty',inplace = True)

In [19]:
assert  data['Type 2'].notnull().all() # returns nothing because we do not have nan values

In [20]:
# # With assert statement we can check a lot of thing. For example
# assert data.columns[1] == 'Name'
# assert data.Speed.dtypes == np.int